@{
    ViewBag.Title = "Test XSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<script src="~/Scripts/angular.min.js"></script>

<div ng-app="">
    <p>Please input something: <input type="text" ng-model="aString"></p>
    <p>After filtering: {{aString}}</p>
</div>
