@{
    ViewBag.Title = ViewBag.Chapter + " - " + ViewBag.Section;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>ViewBag.Chapter</h2>
        <p>ViewBag.ChapterContent</p>
        <h3>ViewBag.Section</h3>
        <p>ViewBag.SectionContent</p>
    </div>
</body>
</html>
