@model IEnumerable<AlgorithmicThinking.Models.Comment>

@{
    ViewBag.Title = ViewBag.Chapter + " - " + ViewBag.Section;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3 class="ballet_text">@ViewBag.Section</h3>
<span>@Html.Raw(ViewBag.SectionContent)</span>

<div class="readmore_bt"><a href='@Url.Action("Details", "Chapters", new { id = @ViewBag.Id })'>Go Back</a></div>